.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 100%;
    height: 100px;
    display: block;
}


.title {
    position: absolute;
    top: 50%;          /* move down halfway */
    left: 50%;         /* move right halfway */
    transform: translate(-50%, -50%); /* center it */
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}
