body{background-color:lightskyblue;}
h1{
    font-size:100px;
    font-weight:bold;
    text-align:center;
}
h2{
    font-size:50px;
    text-decoration: underline;
    color:blue;
    text-align: center;


}
body{
    font-size:30px;
}
p{
    color:red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
