body{background-color: cornflowerblue;}
h1{ color:antiquewhite
    text-align:center;
    font-size:72px;
    font-weight:bold;
    font_style:italic;
    text-decoration:underline;}
li{
    text-color:green;
    font-weight:bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}